html,body,main{
    margin: 0;
    padding: 0;
}
h1,main,#info,#info h2{
    margin-top: 0;
}
html,body,main{
    height:auto
}
#info p,#info div,#contact p,#contact div{
    display:inline-block;
}
#info div,#contact div{
    margin-right:40px
}
#info p,#contact p{
    margin-right:10px
}
#info p:first-child,#contact p:first-child,#ability p:first-child,#edu p:first-child,#products p:first-child{
    font-weight:bold;
}
#contact a{
    color:blue;
    text-decoration:underline;
}
a:hover{
    cursor:pointer;
}
h1{
    float:left;
    display: block;
    width: 150px;
    height: 900px;
    color:white;
    background-color: blue;
    margin:0;
    padding:0;
    text-align: center;
    padding-top: 30px;
}
main{
    margin-left: 150px;
    padding-left: 30px;
    padding-top: 30px;
}
